# the env variable used for vite-processed frontend should begin with `VITE_`
VITE_TURNSTILE_SITE_KEY=0x4AAAAAAEO5De8sMTnYdK6F
VITE_AUTH_OTP_TIMEOUT=120
VITE_AUTH_TEMP_TOKEN_TIMEOUT=600
VITE_API_BASE_URL=
